# HK Tango Website — Git Ignore

# OS files
.DS_Store
Thumbs.db
*.swp
*.swo
*~

# Editor files
.vscode/
.idea/
*.sublime-*

# Local environment
.env
.env.local

# Cloudflare
.vercel
.netlify

# Misc
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
